*{
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --clr-light-gray : #f5f5f5;
    --clr-white : #fff;
    --clr-red : #eb3254;
    --clr-black : #2b2626;
    --clr-green : rgb(6, 125, 98);
    --clr-gray : #bbbbbb;

    --clr-ff : "Poppins", sans-serif;
}

body{
    background-color: var(--clr-light-gray);
    font-family: var(--clr-ff);
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 545px;
    margin: 0 auto;
}

.header-img{
    position: absolute;
    width: 544px;
    height: 167px;
    object-fit: cover;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.heading{
    fill: currentColor;
    color: var(--clr-gray);
    margin-right: 14em;
    margin-top: 2em;
}


/* ======= main ======== */

.cart{
    margin-top: 6.75em;
    margin-left: 30em;
}

.cart-container{
    position: relative;
}

.cart-quantity{
    position: absolute;
    top: 6em;
    right: .1em;
    font-size: 1em;
    padding: .65em;
    background-color: var(--clr-gray);
    border-radius: 50%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    padding: 1.2em;
    margin-top: 2em;
    border-radius: 10px;
    border: 2px solid #b8b8b8;
    background-color: var(--clr-white);
}

.item-container{
    display: flex;
}

.add-to-cart{
    border: 1px solid var(--clr-light-gray);
    font-size: 1.4em;
    padding: .5em .8em;
    background-color: var(--clr-red);
    color: var(--clr-white);
    cursor: pointer;
    border-radius: 10px;
}

.add-to-cart:hover{
    opacity: .8;
}

.added-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.added-to-cart{
    color: var(--clr-green);
    opacity: 0;
    display: flex;
    align-items: center;
}

.added-message{
    opacity: 1;
}

.checkmark{
    width: 30%;
}

.item-image{
    font-size: 3em;
    margin-right: .6em;
}


/* ======= checkout page ======= */

.home-btn{
    position: absolute;
    top: 12em;
    background-color: var(--clr-red);
    padding: .6em .4em;
    text-decoration: none;
    color: var(--clr-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.home-btn:hover{
    opacity: .8;
}

.back-btn{
    width: 30%;
}

.checkout-cart{
    margin-top: 10em;
}

.checkout-page{
    margin-top: 5em;
    min-width: 460px;
}

.food-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--clr-gray);
    border-radius: 10px;
    margin-bottom: 1em;
    padding: .4em 2em;
    background-color: var(--clr-white);
}

.food-quantity{
    font-size: 1.4em;
}

.food-image{
    font-size: 5em;
    margin-right: .2em;
}

.delete-btn{
    cursor: pointer;
    font-size: 1.1em;
}


/* ======= payment ======= */


.payment-items,
.payment-total, 
.tax{
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}

.payment-container{
    margin: 4em 0;
    border: 1px solid var(--clr-gray);
    padding: 1.8em 1.2em;
    background-color: var(--clr-white);
    border-radius: 10px;
    display: none;
}

.payment-btn,
.pay-btn{
    width: 100%;
    padding: .6em 0;
    font-size: 1.2em;
    margin-top: 1em;
    background-color: var(--clr-red);
    color: var(--clr-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--clr-ff);
}

.payment-btn:hover{
    opacity: .8;
}


/* ====== form page ========*/

.payment-details{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    display: none;
    background-color: var(--clr-white);
    width: 40%;
    margin: 0 auto;
    padding: 4em 0;
    
}

.payment-details-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

input{
    padding: 1em 0;
    margin-bottom: 1em;
    font-size: 1.1em;
    border-radius: 10px;
    border: 1px solid var(--clr-gray);
}

input[type="text"],
input[type="number"]{
    padding-left: 1em;
}

.close-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.empty-cart{
    text-align: center;
    padding-top: 1.6em;
}

.menu-btn{
    background-color: var(--clr-red);
    padding: .2em .5em;
    border-radius: 10px;
    width: 20%;
    margin: 0 auto;
    margin-top: .4em;
}

.menu-btn a{
    text-decoration: none;
    color: var(--clr-white);
    font-weight: 500;
}

.menu-btn:hover{
    opacity: .8;
}

